@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300..700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Grey+Qo&family=Kaushan+Script&family=Kumbh+Sans:wght@100..900&family=Quicksand:wght@300..700&family=Special+Elite&display=swap');
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f8f8;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: transparent;
  color: white;
  padding: 10px 85px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbar.navbar-visible {
  background-color: white;
  color: #534e4e;
}
.navbar.navbar-visible ul li a{
  color: #575454;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 999999;
}
.logo img {
  height: 105px; /* Adjust based on your logo size */
  width: auto; /* Maintain aspect ratio */
}
.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  font-optical-sizing: auto;
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
}

.navbar nav ul li a:hover {
  color: rgb(13, 111, 223);
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: -100px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-inner button{
  padding: 20px 20px 20px 0;
  width: 250px;
  align-self: center;
  background-color: rgb(8, 69, 209);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  border: none;
  margin-left: 20px;
  margin-top: 50px;
  letter-spacing: 2px;
  border-radius: 8px;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  animation: slideUp 2.5s ease-out forwards;
}

.carousel-inner button:hover{
  background-color: rgb(42, 40, 40);
}

.carousel-inner button.clicked .discover{
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close-menu{
  display: none;
}

.carousel-item {
  flex: 0 0 100%;
  position: relative;
  transform: scale(0.5);
  opacity: 0.5;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item.active {
  transform: scale(1);
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 1100px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 250px;
  left: 300px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.carousel h1{
  position: absolute;
  margin-top: 70px;
  color: rgb(77, 160, 255);
  margin-left: 300px;
  font-family: "Special Elite", system-ui;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4.5px;
  animation: slideUp 0.5s ease-in-out;
}

.carousel h3{
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  animation: slideUp 1s ease-in-out;
}
.carousel h2{
  font-size: 100px;
  margin-top: -110px;
  font-family: 'Montserrat', sans-serif;
  animation: slideUp 1.5s ease-in-out;
}
.headlines{
  margin-top: -20px;
  margin-left: 20px;
}
.carousel p{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  animation: slideUp 2s ease-in-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    behavior: smooth;
  }
  100% {
    opacity: 1;;
    transform: translateY(0);
    behavior: smooth;
  }
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
}

.carousel-button:hover{
  background-color: rgb(8, 69, 209);
}

.box-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  margin-top: 100px;
}

.box {
  background-color: white;
  padding: 20px;
  height: 85px;
  width: 320px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 8px rgb(140, 135, 135);
  border-radius: 8px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.box h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.box-caption{
  margin-top: -8px;
}
.box h3{
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.box:hover {
  transform: translateY(-10px);
  background-color: #171616;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
.box:hover .icon{
  color: rgb(77, 160, 255);
}

#second-carousel{
  background: url(./images/testimonial.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: center;
  height: 800px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

#second-carousel h4{
  font-weight: 300;
  font-size: 20px;
  padding-top: 80px;
}

#second-carousel h3{
  font-size: 47px;
  margin-top: -10px;
}

.carousel-boxes {
  display: flex;
  justify-content: center;
  height: 520px;
}

.carousel-box {
  background: white;
  border-radius: 8px;
  padding: 40px;
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 450px;
  text-align: left;
  margin-bottom: 100px;
  cursor: pointer;
}

.carousel-box h4 {
  color: #333;
}

.carousel-box p {
  color: rgb(8, 69, 209);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.carousel-buttons.bottom-center {
  justify-content: center;
}
.carousel-buttons.bottom-center button{
  background-color: transparent;
  border: none;
  color: #575454;
  transition: 0.3s ease-in-out;
  margin-top: 700px;
}
.carousel-buttons.bottom-center button:hover{
  color: rgb(8, 69, 209);
}

.testimonial{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testimonial img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


.testimony{
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #333 !important;
  line-height: 25px !important;
}

.testimonial h4{
  color: rgb(8, 69, 209);
  font-size: 18px;
  margin-top: -65px;
}

.testimonial h3{
  color: #171616;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
}

.teacher{
  height: 600px;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #171616;
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
}

.teacher h4{
  font-size: 47px;
  margin-top: -10px;
  font-weight: bold !important;
  justify-content: center;
  align-items: center;
}

.teacher-section{
  width: 80vw;
  height: 500px;
  background-color: transparent;
  display: flex;
  gap: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

.teacher-section h3{
  font-size: 45px;
  text-align: left;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 70px;
}

.teacher .back{
  background-color: white;
  height: 400px;
  width: 400px;
  padding: 50px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #171616;
  text-align: center;
  z-index: 9999;
}


.teacher .back img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.teacher .back p{
  font-size: 25px;
  color: rgb(13, 111, 223);
  font-weight: 600;
}

.teacher .back pre{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-top: -20px;
}

.teacher .back h3{
  font-size: 20px;
  text-align: center;
}

.video-section {
  margin: 50px 0;
  text-align: center;
  height: 1600px;
  margin-top: 200px;
  background: url(./images//Frame.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.video-section h4 {
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  display: inline-block;
  width: 80vw; /* Set the width of the video container to 80% of the viewport width */
  max-width: 1500px; /* Optional: Set a maximum width */
  margin: 0 auto; /* Center the video container horizontally */
  margin-top: 200px;
}

.video-container video {
  width: 100%; /* Make the video take up the full width of the container */
  border-radius: 10px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  font-size: 120px;
}

.record-section{
  background-color: transparent;
  height: 500px;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  font-family: "Kumbh Sans", sans-serif;
  color: white;
  text-align: left;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.record-section h3{
  font-size: 35px;
  color: rgb(48, 145, 255);
}

.record-caption{
  margin-top: -20px;
}

.record-section h4{
  font-size: 55px;
  margin-top: -20px;
}

.record-section .records{
  height: 250px;
  width: 250px;
  background-color: rgb(54, 54, 54);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  padding: 20px;
}

.records .icon{
  margin-top: 20px;
  color: rgb(77, 139, 255);
}
.records h2{
  font-size: 55px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

.records h3{
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-top: -40px;
}

.record-section .records:hover{
  transform: translateY(-10px);
}

.team{
  height: auto;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #171616;
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
  font-weight: 400;
}

.team h4{
  font-size: 47px;
  margin-top: -10px;
  font-weight: bold !important;
}

.team-box{
  height: auto;
  width: 100vw;
  background-color: transparent;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.team-box .member{
  height: 400px;
  width: 450px;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.team-box .member:hover{
  transform: translateY(-10px);
  background-color: #171616;
  color: white;
}

.member img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.member h2{
  color: rgb(48, 145, 255);
  font-size: 20px;
}

.team-box .member:hover .member h2{
  color: rgb(77, 160, 255) !important;
}

.member h3{
  font-size: 20px;
  margin-top: -10px;
  font-weight: 400;
  letter-spacing: 1px;
}

.member h4{
  font-size: 20px;
  background-color: rgb(243, 240, 240);
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 8px;
  color: #686363;
  margin-top: 50px;
}

.member p{
  font-size: 17px;
  margin-top: 30px;
  font-weight: 600;
}

.load-more{
  margin-top: 80px;
  padding: 20px;
  background-color: rgb(8, 69, 209);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s linear;
}

.load-more:hover{
  background-color: #333;
}

.registration{
  height: auto;
  width: 100%;
  background: url(./images/registration.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.registration-box{
  display: flex;
  gap: 100px;
  text-align: left;
  padding: 100px;
  background-color: transparent;
  color: white;
}

.registration-box p{
  font-size: 30px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.registration-box h1{
  font-size: 60px;
  font-family: "Kumbh Sans", sans-serif;
}

.registration-box .span{
  color: #c8c8c8;
}

.registration-box .form{
  height: 600px;
  width: 900px;
  background-color: white;
  margin-top: 100px;
  border-radius: 8px;
}

.learning{
  display: flex;
  margin-top: 100px;
  gap: 50px;
}

.learn{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #e4ebff3c;
  justify-content: center;
  align-items: center;
  display: flex;
}

.learn .icon{
  color: rgb(0, 119, 255);
}
.learning h2{
  font-size: 30px;
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 15px;
}

.learning p{
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(201, 201, 201);
  line-height: 10px;
}

.footer{
  height: auto;
  margin-top: 200px;
  overflow-x: hidden !important;
  background: url(./images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

.contact{
  display: flex;
  gap: 80px;
  width: 60vw;
  background-color: transparent;
  margin-top: 80px;
  padding: 50px;
  text-align: left;
  line-height: 55px;
  padding: 50px;
}

.contact h1{
  font-size: 45px;
}

.contact input{
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 450px;
  padding: 20px;
  height: 50px;
  font-size: 18px;
  outline: none;
}

.contact input::placeholder{
  color: white;
}

.mailing{
  display: flex;
  margin-top: 20px;
}
.mailing .icon{
  margin-top: 30px;
  margin-left: -50px;
  cursor: pointer;
}

.social-media{
  display: flex;
  gap: 100px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  margin-top: 150px;
  cursor: pointer;
}
.social-media h1{
  font-size: 35px;
}

.social-media h2{
  font-size: 30px;
}

.social-media p{
  font-size: 20px;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons .media{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
  align-self: center;
  align-items: center !important;
  transition: 0.3s ease-in-out;
}

.social-icons .media:hover{
  background-color: transparent;
  color: rgb(8, 69, 209);
}

.social-icons .media .icon{
  margin-top: 20px;
}

.copyright{
  width: 100%;
  background-color: transparent;
  border-top: 1.5px solid rgb(97, 95, 95);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 72px;
  align-items: center;
  padding: 20px;
}

.copyright p{
  font-size: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  background-color: rgb(8, 69, 209);
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #555;
}

/* Responsive styles */
@media (max-width: 1080px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    flex-direction: column;
    width: 80%;
    left: -100%; /* Hidden off-screen initially */
    height: 100%;
    background-color: #101114;
    overflow: hidden !important;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  .nav-links.open {
    display: flex;
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    padding-top: 50px 0;
    margin-top: 100px !important;
  }

  .nav-links ul li {
    margin: 10px 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(77, 77, 77);
  }

  .hamburger {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .carousel-caption{
    margin-left: -150px;
  }
  .carousel-caption h1{
    margin-left: 0px;
    margin-top: -5px;
    font-size: 45px;
  }
  .carousel-caption h3{
    font-size: 80px;
  }
  .carousel-caption h2{
    font-size: 80px;
    padding-top: 50px;
  }

  .box-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-boxes{
    display: flex;
    flex-direction: column;
    column-gap: -10px !important;
    align-items: center;
    height: 1500px;
    overflow-x: hidden;
  }

  .carousel-box{
    width: 700px;
    margin-top: -20px;
  }

  #second-carousel{
    height: 1800px;
  }

  .carousel-buttons.bottom-center button{
    margin-top: 1700px;
  }

  .teacher-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: center;
  }

  .teacher-details{
    width: 100%;
  }

  .teacher-section h3{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 85%;
  }

  .team{
    height: 800px;
    margin-top: 500px;
  }
  .team-box{
    display: flex;
    flex-direction: column;
    margin-top: 370px;
  }

  .team-box .member{
    width: 800px;
    display: flex;
    gap: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .member h4{
      margin-top: -15px;
  }

  .footer{
    height: 1900px;
    margin-top: 700px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .social-media{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;
    margin-top: 250px;
  }

  .social-icons{
    margin-left: -100px;
  }

  .carousel-buttons.bottom-center button{
    margin-bottom: 200px;
  }
  
}

@media (max-width: 450px){

  body{
    overflow-x: hidden !important;
    width: 108% !important;
  }

  #home img{
    height: 800px;
    width: 120% !important;
  }
  .carousel-caption{
    margin-left: -280px !important;
    width: 100vw !important;
    margin-bottom: -50px;
  }
  .carousel-caption h1{
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 1px !important;
  }
  .carousel-caption h3{
    font-size: 35px;
  }
  .carousel-caption h2{
    font-size: 35px;
    line-height: 80px;
  }
  .carousel-caption p{
    font-size: 12px;
  }
  .headlines{
    margin-top: 20px;
    margin-left: 0px;
  }
  .navbar h3{
    font-size: 15px;
    left: 5px !important;
  }
  .navbar{
    padding: 10px 18px;
  }

  #second-carousel{
    height: 1900px;
    width: 100% !important;
  }

  #second-carousel button{
    margin-top: 1800px;
  }

  #second-carousel h3{
    font-size: 35px;
  }
  
  #second-carousel h4{
    margin-top: 100px;
  }

  .testimonial-caption h4{
    margin-top: -60px !important;
    font-size: 18px !important;
  }
  .carousel-box{
    width: 300px !important;
    padding: 40px;
  }
  
  .carousel-boxes{
    height: 2000px;
    margin-top: -200px !important;
  }

  .testimony{
    font-size: 15px !important;
  }

  .carousel-box{
    width: 280px;
    padding: 30px !important;
  }

  .team{
    margin-top: 100px;
    height: auto !important;
  }
  
  .team-box{
    margin-top: 0px;
  }

  .team h4{
    font-size: 35px;
  }

  .member{
    display: flex;
    flex-direction: column;
    width: 250px !important;
  }

  .member h3{
    font-size: 17px;
  }

  .member h4{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px !important;
  }

  .teacher{
    width: 100%;
    margin-top: 100px;
  }

  .teacher h4{
    font-size: 35px;
  }

  .teacher-section{
    display: flex;
    flex-direction: column !important;
    margin-top: 100px !important;
    justify-content: center;
    align-items: center;
  }

  .back{
    width: 200px !important;
    margin-top: 250px;
  }

  .back p{
    font-size: 20px !important;
  }

  .back pre{
    font-size: 18px !important;
    margin-top: -5px !important;
  }

  .back h3{
    font-size: 15px !important;
    margin-left: 20px;
    line-height: 25px;
    margin-top: 40px;
  }
  .footer{
    height: auto;
    margin-top: 100px;
    text-align: left !important;
  }

  .footer input{
    width: 300px;
  }

  .contact {
    padding: 10px;
    margin-top: 80px;
    gap: 20px;
  }
  .contact h1{
    text-align: left;
    font-size: 37px;
  }

  .social-media{
    margin-top: 150px;
    gap: 20px;
    text-align: left;
  }

  .social-media h2{
    font-size: 25px;
  }

  .social-media p{
    font-size: 15px;
  }

  .courses{
    left: -100px;
  }

  .copyright{
    margin-top: 50px;
  }

  .copyright p{
    font-size: 15px !important;
    padding: 50px;
  }

  .video-section{
    height: 1600px;
    background: url(./images//Frame\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 300px;
  }

  .play-button{
    font-size: 25px;
  }

  .record-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px !important;
    margin-top: 250px;
  }

  .record-section h3{
    font-size: 15px;
    margin-top: 30px;
    line-height: 25px;
  }

  .records h3{
    font-size: 25px;
    margin-top: -40px;
  }

  .record-text{
    margin-top: 50px;
  }

  .record-section h4{
    font-size: 25px;
    line-height: 35px !important;
  }

  .registration-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .learning{
    display: none;
  }

  .registration-box h1{
    font-size: 40px;
  }

  .registration-box p{
    font-size: 25px;
  }

  .form{
    margin-top: -50px !important;
    width: 350px !important;
    padding: 20px;
    height: 500px !important;
  }
}